<%- include("../partials/header") %>

<h1><%= cluck.username %> <%= cluck.createdAt %></h1>

<p><%= cluck.content %></p>

<p>
  <small>Created at <%= cluck.createdAt %></small>
</p>

<%- include("../partials/footer") %>