<%- include("../partials/header") %>

<% for(let cluck of clucks){ %>
<% let time = moment(cluck.created_at).fromNow()%>
  <h2><%= cluck.username %> <%= time %></h2>

  <p><%= cluck.content %></p>
  
<% } %>



<%- include("../partials/footer") %>